/* resume */

#resume #portrait {
    float: left;
    max-height: 170px;
    margin-right: 20px;
    border-radius: 5px;
}

#resume .company {
    font-weight: bold;
    float: left;
}

#resume .period {
    float:right;
    color: #808080;
}

#resume .role {
    font-style: italic;
    color: #808080;
}

#resume .note {
    text-align: center;
    color: #6b6b6b;
    padding: 40px 0 20px;
    font-size: 16px;
}

#resume ul.skills {
    margin: 0px;
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
    text-align: left;
}

#resume li {
    padding-bottom: 10px;
    padding-top: 10px;
}

#resume .skills li {
    width: 70%;
}

#resume ul.publications,
#resume ul.activities {
    padding-left: 0;
}

#resume .publications li,
#resume .activities li {
    list-style-type: none;
}

.affiliation-img {
    height: 80px;
    padding: 10px 25px;
    float: left;
    vertical-align: middle;
}

#affiliation a:hover {
    border-bottom: none;
}

#contact .fa {
    opacity: 0.8;
}

@media screen and (max-width: 767px) {
  #resume .portrait {
    float: left;
    max-height: 170px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
  }
}
